@import '@/scss/variables';
@import '@/scss/mixins';

.user {
  display: flex;
  gap: 2rem;
  padding: 2.4rem;
  position: relative;

  &__img {
    min-width: 11.2rem;
    height: 12rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 18rem;
  }

  &__username {
    font-size: $font-size-username;
    font-weight: weight(semiBold);
    color: $color-accent;
  }

  &__company {
    color: $color-3;
  }

  &__address {
    font-size: $font-size-address;
    color: $color-1;
    margin-top: auto;
  }
}

.archived {
  & .user__img {
    filter: grayscale(100%);
  }

  & .user__username {
    color: $color-3;
  }

  & .user__company {
    color: $color-1;
  }

  & .user__address {
    color: $color-2;
  }
}

// Media
@include mobile() {
  .user {
    flex-direction: column;
    gap: 1.6rem;
    height: 24.2rem;
    padding: 1.6rem;

    &__img {
      width: 13rem;
      min-height: 12rem;
    }

    &__info {
      height: 100%;
    }

    &__username {
      font-size: $font-size-username--m;
    }

    &__company {
      font-size: $font-size-company--m;
      font-weight: weight(semiBold);
    }
  }
}
