@import '@/scss/mixins';

.users {
  display: grid;
  grid-template-columns: repeat(3, minmax(30rem, 36rem));
  padding: 3rem 0 4rem 0;
  width: 100%;
  gap: 4rem;
  list-style: none;

  @include laptop() {
    grid-template-columns: repeat(2, minmax(16.2rem, 36rem));
    justify-content: center;
  }

  @include mobile() {
    grid-template-columns: repeat(2, 16.2rem);
    gap: 2rem;
    padding: 1.6rem 0 3rem 0;
  }
}
