@import '@/scss/variables';

.form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  max-width: 42rem;
  padding-top: 2.4rem;
}

.btn-wrapper {
  padding-top: 1rem;
}

.btn {
  padding: 1.2rem 4.2rem;
  width: 17rem;

  font: inherit;
  font-weight: weight(semiBold);
  color: $color-6;

  background-color: $color-5;
  border-radius: $border-radius-form-item;
  cursor: pointer;

  &:hover {
    color: $color-3;
    background-color: $color-7;
  }
}
