@import '@/scss/variables';
@import '@/scss/mixins';

.container {
  display: grid;
  grid-template: 1fr / 36rem minmax(46rem, 1fr);
  gap: 4rem;
  padding-bottom: 10rem;
}

.aside {
  height: 100%;
  padding: 4rem;
}

.info {
  padding: 4rem;
}

// Media
@include tablet() {
  .container {
    grid-template: 1fr / 1fr;
    gap: 3rem;
    max-width: 50rem;
    margin: 0 auto;
  }
}

@include mobile() {
  .container {
    padding-bottom: 5rem;
  }

  .aside,
  .info {
    padding: 2.8rem;
  }
}
